<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project2.xirpl40810132129.malangvacation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".List" />
        <activity android:name=".ListWisataActivity" />
        <activity android:name=".ListFoodActivity" />
        <activity android:name=".DetailFoodActivity" />
        <activity android:name=".DetailTempatActivity" />
        
        <activity
            android:name=".aboutfix"
            android:label="@string/title_activity_aboutfix"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>